@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;300;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
#root {
  max-width: 1440px;
  margin: 0 auto;
  width: 100%;
  min-height: 100vh;
}
.swiper {
  position: unset !important;
}
@layer components {
  .max-container {
    max-width: 1440px;
    margin: 0 auto;
  }
  .activeNav {
    @apply text-red-600;
  }
}
